.aboutSection {
    height: auto;
}

.aboutTitle {
    color: var(--primary);
    font-size: 2.2rem;
    margin-bottom: 1.5rem; 
}

.aboutTitle::after {
    content: "|";
    animation: blink 1s infinite;
    margin-left: 5px;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.paragraph {
    margin-top: 1.5rem;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.4;
    color: #cacaca;
    font-family: 'JetBrains Mono', monospace;
    background: rgba(105, 105, 105, 0.1);
    padding: 1rem;
    border-radius: 8px;
    position: relative;
    user-select: none;
}

.paragraph::before {
    content: "> ";
    color: var(--primary);
    position: absolute;
    left: -20px;
}

.paragraph:hover {
    background: rgba(105, 105, 105, 0.3);
    border-left: 3px solid var(--primary);
    cursor: pointer;
    transition: all 200ms ease;
}

@media(max-width: 768px) {
    .paragraph{
        font-size: .9rem;
    }
}