.main{
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.terminalLoading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: var(--primary);
    font-family: "Fira code", monospace;
    padding: 20px;
  }
  
  .terminalText {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  
  .progressBar {
    width: 300px;
    height: 10px;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progressFill {
    height: 100%;
    background-color: var(--primary);
    transition: width 0.2s ease;
  }